.legend{
    width: 100%
}

.each_sensors{
    position: relative;
    float: left;
    width: 500px;
    height:20px;
}
    .each_sensors:hover{
        background:silver;
    }
        
.each_colors{
    position: relative;
    float:left;
    width:20px;
    height:20px;
}
        
.each_idsensors{
    position: relative;
    float: left;
    padding-left: 5px;
}
