{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'app/css/popup-graph.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'graphs/d3/4.3/d3.min.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <script>
      var margin = {top: 20, right: 20, bottom: 30, left: 50},
      width = 300 - margin.left - margin.right,
      height = 150 - margin.top - margin.bottom;


      var svg = d3.select(".sensorgraph").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var formatDate = d3.timeParse("%Y-%m-%d %H:%M:%S%Z");

      var now = new Date();
      var lastweek = new Date(now.getTime() - (7 * 24 * 3600 * 1000)) 

      var x = d3.scaleTime().range([0, width]);

      var value_max = d3.max(function(d) { return x(d.date); });
      var y = d3.scaleLinear().domain([0, value_max]).range([height, 0]);

      var xAxis = d3.axisBottom(x).ticks(d3.timeDay);

      var yAxis = d3.axisLeft(y).ticks(10);

      var line = d3.line()
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.value); });

      

      d3.tsv("{% static 'tsv/sensorgraph.tsv' %}", 
        function(d) {
          d.date = formatDate(d.date);
          d.value = +d.value;
          return d;
        }, 
        function(error, data) {
          if (error) throw error;

          x.domain(d3.extent([now, lastweek]));
          y.domain(d3.extent([0,125]));

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", -35)
              .style("text-anchor", "end")
              .text("Pollution")

          svg.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", line);
        }
      );
    </script>
  </body>
</html>