{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'app/css/notifications.css' %} " rel="stylesheet" type="text/css">
	<script src="{% static 'jquery/js/jquery-3.0.0.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/notificationsList.js' %}" type="text/javascript"></script>
	<title>ALERT!!!</title>
</head>
<body>
	<div class="alerts">
		<div class="alerts_title">
			<h1 style="color: red;">ALERT: Values exceed to limit value of pollution</h1>
		</div>
		<div class="filter_container">
			<form method="POST" id="formFilter" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="type_alerts">
					<select name="type_alerts" id="type_alerts" >
						<option value="0">Alerts not viewed:</option>
						<option value="1">Alerts of last day</option>
						<option value="2">Alerts of last week</option>
						<option value="3">Alerts of last month</option>
						<option value="4">Alerts of last year</option>
					</select>
				</div>
				<br/><br/>
				
				<div class="filter_options">
					<label for="selectSensor">Sensors:</label>
					<select class="filter" name="selectSensors" id="selectSensors">
						<option value="">---Select for filter---</option>
					 	{% for sens in sensorsList %}
					 		<option value="{{ sens.id_s }}"> {{ sens.name }} (Sensor {{ sens.id_s }})</option>
					 	{% endfor %}
					</select>
					<br/>
					<label for="alert_value">Value exceed above:</label>
					<input class="filter" type="number" step="any" name="alert_value" id="alert_value" min="0" max="150"></input>
					<label for="alert_value">Value exceed below:</label>
					<input class="filter" type="number" step="any" name="alert_value2" id="alert_value2" min="0" max="150"></input>
					<br/>
					<label for="limit">Limit value above:</label>
					<input class="filter" type="number" step="any" name="limit" id="limit" min="0" max="100"></input>
					<label for="limit">Limit value below:</label>
					<input class="filter" type="number" step="any" name="limit2" id="limit2" min="0" max="100"></input>
					<input id="type_pollution" name="type_pollution" type="number" value="{{ type_pollution }}" hidden></input>
				</div>
				<div class="button">
					<input id="buttonFilter" type="button" value="Filter"></input>
				</div>
			</div>
		</form>
		<br/><br/>
		<div class="alerts_list_container">
			<div class="alerts_list">
			</div>
		</div>
	</div> 
</body>
</html>