{% load static %}
<!DOCTYPE HTML>
<html lang="es">
	<head>
	</head>
	<body>
		<script type="text/javascript">
			create_sensorPie({{ verylow }}, {{ low }}, {{ medium }}, {{ high }}, {{ veryhigh }}, {{ sensor_id }});
		</script>
	</body>
</html>


