{% load static %}
<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<link href="{% static 'app/css/pie-graph.css' %} " rel="stylesheet" type="text/css">
		<script src="{% static 'graphs/d3/4.4/d3.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'graphs/js/d3pie.min.js' %}" type="text/javascript"></script>	
		<script src="{% static 'app/js/piegraph_sensor.js' %}" type="text/javascript"></script>
	</head>
	<body>
		<div class=annual_chart>
			<input class="type_pollution" value="{{ type_pollution }}" hidden></input>
			<div id="piechart"></div>
			<div id="piesensor">
				<div class="selectSensor">
					{% csrf_token %}
					<label for="selectSensor">Sensors:</label>
					<select name="selectSensor" id="selectSensor" required>
					 	<option value="">---Please select---</option>
			 			{% for sens in sensors %}
			 				<option value="{{ sens.id_s }}"> {{ sens.name }} (Sensor {{ sens.id_s }})</option>
			 			{% endfor %}
			 		</select><br/>
			 	</div>
		 		<div id="mapsensors"></div>
			</div>
		</div>
		<div class="days_list_container">
			<div id="days_list">
		</div>
	</body>
</html>