{% load static %}

<!DOCTYPE html>
<html>
	<head></head>
	<body>
		{% for p in pollutionLevelList %}
			<div class="each_day">
	        	<p>Sensor: {{ p.sensor.name }} (Sensor {{ p.sensor.id_s }})<p>
	        	<p>Value achieved: <a id="red_letter">{{ p.value }}</a></p>
	        	<p>{{ p.edate }}</p>
	        </div>
 		{% endfor %} 
	</body>
</html>