{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Management of sensors</title>
	<link rel="stylesheet" href="{% static 'app/css/add-removeSensor.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensors.js' %}" type="text/javascript"></script>
</head>
<body>	
	<div class="container">
		<h1>Add sensors</h1>
		<hr />
		<div class="formAdd" >
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="type">Type:</label><br/>
				<select  name="type" id="type" required="">
					<option value="">Select type</option>
					<option value="0">Pollution</option>
				</select><br/><br/>
				<label for="lat">Latitude:</label><br/>
				<input type="number" step="any" name="lat" id="lat" size="50" min="-90" max="90" required=""></input><br/>
				<label for="lon">Longitude:</label><br/>
				<input type="number" step="any" name="lon" id="lon" size="50" min="-90" max="90" required=""></input><br/>
				<label for="desc">Description:</label><br/>
				<textarea type="text" name="desc" id="desc" rows="5" cols="32"></textarea><br/>
				
				<input id="button" type="submit" value="Add"></input><br/>
			</form>
		</div> 
		<div id="msg"></div>
	</div>
	{% if state%}
		<script>
			msg("added");</script>
	{% endif %}
	38.9726/-3.9577
</body>
</html>