{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Management of sensors</title>
	<link rel="stylesheet" href="{% static 'app/css/add-removeSensor.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensors.js' %}" type="text/javascript"></script>
</head>
<body onload="alignForm()">	
	<div class="containerModify">
		<h1>Modify sensors</h1>
		<hr />
			<form class="form" method="POST" enctype="multipart/form-data">
				<div class="formModifyOld">
					{% csrf_token %}
					<label for="selectSensor">Sensors:</label>
					 <select name="selectSensor" id="selectSensor" onchange="sensorSelected()" required>
		     			 <option value="">---Please select---</option>
		     			 {% for sens in sensors %}
		     			 	<option value="{{ sens }}/{{ sens.sensorType }}/{{ sens.latitude }}/{{ sens.longitude }}/{{ sens.description }}"> {{ sens.id }} (type: {{ sens.sensorType}} / coord: {{ sens.longitude}}, {{ sens.latitude }})</option>
		     			{% endfor %}
		     		</select><br/>
		     		<label for="id">ID:</label><br/>
					<input type="number" value="" name="id" id="id" size="50"  readonly></input><br/>
		     		<label for="type">Type:</label><br/>
					<input type="number" value="" name="type" id="type" size="50"  readonly></input><br/>
					<label for="lat">Latitude:</label><br/>
					<input type="number" name="lat" id="lat" size="50"  readonly></input><br/>
					<label for="lon">Longitude:</label><br/>
					<input type="number" name="lon" id="lon" size="50"  readonly></input><br/>	
				</div>
				<div class="formModifyNew">
					{% csrf_token %}
					<label for="newtype">New type:</label><br/>
					<input type="number" name="newtype" id="newtype" size="50" min="0" required=""></input>
					<input type="checkbox" name="newtypecheck" value="0" class="check" id="newtypecheck"> Enable</input><br/>
					<label for="newlat">New latitude:</label><br/>
					<input type="number" step="any" name="newlat" id="newlat" size="50" min="-90" max="90" required=""></input>
					<input type="checkbox" name="newlatcheck" value="0" class="check" id="newlatcheck"> Enable</input><br/>
					<label for="newlon">New longitude:</label><br/>
					<input type="number" step="any" name="newlon" id="newlon" size="50" min="-90" max="90" required=""></input>
					<input type="checkbox" name="newloncheck" value="0" class="check" id="newloncheck"> Enable</input><br/>
					<label for="newdesc">New description:</label><br/>
					<textarea type="text" name="newdesc" id="newdesc" rows="5" cols="32" required=""></textarea>
					<input type="checkbox" name="newloncheck" value="0" class="check" id="newdesccheck"> Enable</input><br/>

					<input id="button" type="submit" value="Modify"></input>
				</div>		
			</form>
			<div id="msg"></div>
		</div> 
	</div>
	{% if state%}
		<script>msg("modified");</script>
	{% endif %}

</body>
</html>