{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Management of sensors</title>
	<link rel="stylesheet" href="{% static 'app/css/add-removeSensor.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensor/management-sensors-changes.js' %}" type="text/javascript"></script>
</head>
<body>	
	<div class="container">
		<h1>Add sensors</h1>
		<hr />
		<div class="formAdd" >
			<form method="POST" id="form" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="type">Type:</label><br/>
				<select name="type" id="type" required="">
					<option value="">Select type</option>
					<option value="0">Pollution - NO2</option>
					<option value="1">Pollution - SO2</option>
					<option value="2">Pollution - CO2</option>
					<option value="3">Pollution - O3</option>
					<option value="4">Pollution - PM2.5</option>
					<option value="5">Pollution - PM10</option>
				</select><br/><br/>
				<label for="name">Name:</label><br/>
				<input class="inputs"type="text" name="name" id="newname" required=""></input><br/>
				<label for="lat">Latitude:</label><br/>
				<input class="inputs" type="number" step="any" name="lat" id="newlat" min="-90" max="90" required=""></input><br/>
				<label for="lon">Longitude:</label><br/>
				<input class="inputs" type="number" step="any" name="lon" id="newlon" min="-90" max="90" required=""></input><br/>
				<label for="alert">Alert value:</label><br/>
				<input class="inputs" type="number" step="any" name="alert" id="newalert" min="0" max="100" required=""></input><br/>
				<label for="desc">Description:</label><br/>
				<textarea type="text" name="desc" id="newdesc" rows="5" cols="32"></textarea><br/><br/><br/>
				
				<input id="buttonAdd" type="button" value="Add"></input><br/>
			</form>
		</div> 
		<div id="msg"></div>
		<div id="mapsensors"></div>
		<div id="legendMap" class="legendMap"></div>
	</div>
	{% if state %}
		<script>
			msg("Sensor has been successfully added!");
			create_mapsensors_add();
		</script>
	{% endif %}
</body>
</html>