.container{
	width: 800px;
	min-height: 550px;
	background-color: #F1F1F1;
	border: solid 1px #CCC;
	margin: auto;
	padding: 15px;
	text-align: center;
}

.containerModify{
	width: 950px;
	min-height: 1010px;
	background-color: #F1F1F1;
	border: solid 1px #CCC;
	margin: auto;
	padding: 15px;
	text-align: center;
}

.formAdd{
	width: 280px;
	padding: 20px;
	background-color: #FFF;
	margin: auto;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 2px 2px 6px #666;
	-moz-box-shadow: 2px 2px 6px #666;
	-webkit-box-shadow: 2px 2px 6px #666;
	-o-box-shadow: 2px 2px 6px #666;
	margin-bottom: 40px;
}

.formRemove{
	width: 400px;
	padding: 20px;
	background-color: #FFF;
	margin: auto;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 2px 2px 6px #666;
	-moz-box-shadow: 2px 2px 6px #666;
	-webkit-box-shadow: 2px 2px 6px #666;
	-o-box-shadow: 2px 2px 6px #666;
	margin-bottom: 40px;
}

.formModifyOld {
	float: left;
	width: 400px;
	min-height: 330px;
	padding: 32px;
	background-color: #FFF;
	margin: auto;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 2px 2px 6px #666;
	-moz-box-shadow: 2px 2px 6px #666;
	-webkit-box-shadow: 2px 2px 6px #666;
	-o-box-shadow: 2px 2px 6px #666;
	margin-bottom: 40px;
}

.formModifyNew{
	float: right;
	width: 400px;
	min-height: 330px;
	padding: 32px;
	background-color: #FFF;
	margin: auto;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 2px 2px 6px #666;
	-moz-box-shadow: 2px 2px 6px #666;
	-webkit-box-shadow: 2px 2px 6px #666;
	-o-box-shadow: 2px 2px 6px #666;
	margin-bottom: 40px;
}
#msg{
	color: #32CD32;
	font-size: 20px;
	margin-bottom: 30px;
}

#mapsensor{
	padding-top: 30px;
}

#selectSensor{
	margin: 10px;
}

.check {
  	cursor: pointer;
}

#button {
	margin-top: 20px;
}

.inputs {
	width: 190px;
}