/*.map {
    position: relative;
    width: 80%;
    padding: 10px;
}*/

.mapold {
    float:left;
    position: relative;
    width: 47%;
    padding: 10px;
}    

.mapnew {
    float:right;
    position: relative;
    width: 47%;
    padding: 10px;
}   
.map_main {
    min-height: 710px;
}

.ol-viewport {
    min-height: 330px;
}

#go-centre {
	margin-bottom: 10px;
	margin-right: 5%;
	float: right;
}

.centreCR {
    top: 65px;
    left: .5em;
}
    .ol-touch .centreCR {
      	top: 80px;
    }	

