.map {
    position: relative;
    width: 100%;
    height: 100%;
	margin-left: 5%;
}

#go-centre {
	margin-bottom: 10px;
	margin-right: 5%;
	float: right;
}

.centreCR {
    top: 65px;
    left: .5em;
}
    .ol-touch .centreCR {
      	top: 80px;
    }	

.notifications {
    top: .5em;
    right: 40px;
  
}
    .ol-touch .notifications {
        top: 115px;
    }

    .notifications button{
        color: white;
        background-color: red;
    }

        .notifications button:hover{
            color: white;
            background-color: darkred;
        }
        .notifications button:focus{
            color: white;
            background-color: darkred;
        }