.notifications {
    top: .5em;
    right: 40px;
  
}
    .ol-touch .notifications {
        top: 115px;
    }

    .notifications button{
        color: white;
        background-color: red;
    }

        .notifications button:hover{
            color: white;
            background-color: darkred;
        }
        .notifications button:focus{
            color: white;
            background-color: darkred;
        }
        