* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

.logo {
	background:#F0F8FF;
	text-align: center;
	padding: 30px;
}

.selectmenu {
	float: left;
	min-height: 750px;
	width: 15%;
	background: #023859;
}

.category {
	display: none;
	float: right;
	font: oblique 120% serif bold;
	font-size: 40px;
	text-align: center;
	background-color:  #cbb575;
	width: 85%;
}

.content {
	float: right;
	min-height: 750px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 85%; 
	background-color: #ebd8a1;

}
 
.text-content {
	text-align: center;
	padding: 100px;
	font-size: oblique 120% sans-serif bold;
}

.text-content img {
	padding-top: 40px;
}

.menu_bar {
	display:none;
}

.sensorData, .notify{
    display: none;
}

.foot {
	position: relative;
	clear: both;
	width:100%;
	background:#F0F8FF;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

	.foot p{
		position: relative;
		top:10px;
		color: #023859;
	}

header {
	width: 100%;
	height: 100%;
	background:#023859;
}

	header nav {
		background:#023859;
		z-index:1000;
		width:100%;
	}

		header nav ul {
			list-style:none;
		}
		
			header nav ul li {
				display:block;
				position: relative;
				width: auto;
			}
 
			header nav ul li:hover {
				background:#E6344A;
			}

				header nav ul li a {
					color:#fff;
					display:block;
					text-decoration:none;
					padding: 20px;
					cursor:pointer;
				}
 
					header nav ul li a span {
						margin-right:10px;
					}
					 
				/*header nav ul li:hover .children {
					display:block;
				}*/
 				
				header nav ul li .children {
					display: none;
					background:#011826;
					/*position: absolute;*/
					width: 100%;
					z-index:1000;
				}
 
					header nav ul li .children li {
						display:block;
						overflow: hidden;
						border-bottom: 1px solid rgba(255,255,255,.5);
					}

						header nav ul li .children li a {
							display: block;
						}

							header nav ul li .children li a span {
								float: right;
								position: relative;
								top:3px;
								margin-right:0;
								margin-left:10px;
							}
										
				header nav ul li .arrow {
					position: relative;
					top:3px;
					margin-left:10px;
					margin-right:0px;
					float: right;
				}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}
 
		.menu_bar .bt-menu {
			display: block;
			padding: 20px;
			color: #fff;
			overflow: hidden;
			font-size: 25px;
			font-weight: bold;
			text-decoration: none;
		}
 
		.menu_bar span {
			float: right;
			font-size: 40px;
		}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
		header nav ul li {
			display: block;
			border-bottom:1px solid rgba(255,255,255,.5);
		}
 
			header nav ul li a {
				display: block;
			}
 
			/*header nav ul li:hover .children {
				display: none;
			}*/
 
			header nav ul li .children {
				width: 100%;
				position: relative;
			}
 
				header nav ul li .children li a {
					margin-left:20px;
				}

}
