.alerts_title {
	border: ridge 3px #CCC;
	margin-bottom: 10px;
	padding: 10px;
	background-color:  #e7c9c2 ;
	text-align: center;
}

h1 {
	color: red;

}

.type_alerts {
	text-align: center;
	border-bottom: ridge 3px #CCC;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 80px;
	margin-left:  80px;
}

#type_alerts {
	color:  #17346f;
	font-size: 30px;
}

.filter_container {
	position: relative;
	border: ridge 3px #CCC;
	padding: 30px;
	min-height: 320px;
	background-color:  #d3dee9; 
}

.filter {
 	margin-top: 10px;
 	margin-bottom: 10px;
 	margin-right: 20px;
 	text-align: left;
}

.filter_options {
	float:left;
}
.button {
	float:right;
	padding-top: 80px;
}

#buttonFilter {
	width: 150px;
	height: 50px;
	font-size: 30px;
}

#limit, #limit2, #alert_value, #alert_value2 {
	width: 50px;
}

.alerts_list_container{
	text-align: center;
	border: ridge 3px #CCC;
	min-height: 260px;
	padding: 40px;
	background-color: white;
	margin-bottom: 40px;
}

.each_alerts {
	background-color:  #e7e78b;
	padding: 10px;
	margin:10px;
}

#red_letter {
	color: red;
}

