.ol-viewport {
	min-height: 330px;
}

#piechart {
	float: left;
	width: 55%;
	height: 410px;
	padding: 10px;
	margin-bottom: 20px;
}

#piesensor {
	float: right;
	width: 45%;
	height: 410px;
	padding: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.selectSensor {
	padding-bottom: 20px;
	padding-left: 10%;
}

.sensorData {
	display: none;
}

.days_list_container{
	clear: both;
	text-align: center;
	min-height: 260px;
	padding: 40px;
	background-color: white;
	border: ridge 3px #CCC;
	margin-bottom: 40px;
}

.each_day {
	background-color:  #e7e78b;
	padding: 10px;
	margin:10px;
	min-height: 80px;
}

#selectMsg {
	color: #2a1f85;
	font-size: 10px;
}

#red_letter {
	color: red;
}
