.ol-popup {
        position: absolute;
        background-color: #B0E0E6;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 20px;
        border-top-right-radius: 1px;
        border: 1px solid black;
        bottom: 12px;
        left: -50px;
        min-width: 350px;
        height: auto;
        
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: #B0E0E6;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: black;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 0px;
        right: 2px;

      }
      .ol-popup-closer:after {
        content: "✖";
        color: #00008B;
      }
